.remodal {
	text-align: left;
	img {
		width: 97%;
	}
	.divider {
		width: 90%;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.film-title {
		margin-top: 0px;
		font-size: 34px;
	}
	.img-containing-row {
		margin-bottom: 30px;
	}
}
