/****** VARIABLES ******/


/* Font Families */
$serif-text: "Tiempos, Georgia, Times, serif";
$main-sans-text: "Gotham", "Montserrat", 'Helvetica Neue', Helvetica, Arial, sans-serif;


/* Text Size */
$body-text-size: 14px;
$large-header: 3em;
$medium-header: 1.8em;
$small-text: 1em;
$smaller-text: .9em;
$mini-text: .75em;
$aside-text: .65em;
$mobile-largest-text: 1.7em;
$mobile-medium-text: 1.45em;
$mobile-smaller-medium-text: 1.4em;


/* Colors */
$primary-red: #ED1C24;
$primary-red-border: #B01A20;
$light-red: #E88B8E;
$light-red-border: #B27577;
$navy: #607D8B;
$active-elem: #90C0E9;
$active-elem-border: #498FC9;
$primary-black: #000000;
$dark-black: #010101;
$primary-white: #ffffff;
$off-white: #f8f8f8;
$medium-gray: #B6B6B6;
$light-gray: #ccc;
$dark-gray: #404040;
